# Database (CockroachDB - Production)
DATABASE_URL="postgresql://malakinfo:lE1Yfea8TCdNNWaZOt8HEQ@malakininfo-29569.j77.aws-eu-central-1.cockroachlabs.cloud:26257/malakin_dbase?sslmode=verify-full"

# Database (PostgreSQL - Local Development)
# DATABASE_URL="postgresql://user:password@localhost:5432/admin_db"

# URLs de base
NEXT_PUBLIC_BASE_URL="https://malakinfo.com"
NEXT_PUBLIC_API_URL="https://malakinfo.com/api"
NEXT_PUBLIC_MAIN_SITE_URL="https://malakinfo.com"

# Pour le développement local, utilisez:
NEXT_PUBLIC_MAIN_SITE_URL="http://localhost:3001"
ADMIN_PANEL_URL="https://dashboard.malakinfo.com"

# SMTP / Email
SMTP_HOST="smtp.example.com"
SMTP_PORT="587"
SMTP_SECURE="false"
SMTP_USER="smtp-user"
SMTP_PASS="smtp-password"
EMAIL_FROM="Malakinfo <no-reply@malakinfo.com>"
